.firstContainer{
    height: max-content;
    display: flex;
    flex-direction: column;
}

.MainContainer{
    display: flex;
    flex-direction: column;
}

.headerContainer{
    background-image: url("../images/modu2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100dvh;
    width: 100%;
    opacity: .5;
    position: relative;
    overflow: hidden;
    margin-bottom: 3rem;
}

.headerContainer::before{
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 60%;
    width: 55%;
    height: 55%;
    background-color: #fffcf2;
    transform: translate(100%, 100%);
    z-index: 2;
}

.headerContainer::after{
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 60%;
    width: 80%;
    height: 55%;
    background-color: #fffcf2;
    transform: translate(-7%, 100%);
    z-index: 99;
}
    


.welcome{
    position: absolute;
    top: 50%; /* initial off-screen position */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: clamp(1.2rem, 5vw, 2.5rem);
    animation: headerSlideIn 1s ease-in-out 0.3s 1 normal forwards;
    z-index: 111;
    color: #ad9551;
}

@keyframes headerSlideIn {
    0% {
        bottom: -10%;
        opacity: 0;
    }
    100% {
        bottom: 0rem; 
        opacity: 1;
    }
}

.century{
    position: absolute;
    bottom: -100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: clamp(1rem, 5vw, 2.5rem);
    animation: headerSlideInTwo 1.7s ease-in-out forwards;
    z-index: 111;
    color: #ad9551;
    margin-top: .5rem;
}

@keyframes headerSlideInTwo {
    0% {
        bottom: -100%;
        opacity: 0;
    }
    100% {
        bottom: 13%;
        opacity: 1;
        margin-top: 2rem;
    }
}


.aboutSubContainer{
    width: 80%;
    flex-direction: column;
    align-self: center;
    font-size: clamp(.9rem, 1.7vw, 2.5rem);
    background-color: #ede0d4;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: -2rem;
    margin-bottom: 5rem;

}

.capitalizedParagraph {
  line-height: 3rem;
}


.aboutImage {
  float: left;
  margin: 0 0 1rem 1rem; 
  max-width: 250px;
}


.capitalizedParagraph::first-letter,
.capitalizedParagraph span {
  font-size: 3rem;
  font-weight: bold;
  color: #ad9551; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 1rem;
}


@media(300px <= width <= 600px) {
    .capitalizedParagraph {
        line-height: 2rem;
    };

    .welcome{
        font-size: 1rem;
        border: #ad9551 1px solid ;
    };

    .century{
        border: #ad9551 2px solid;
    }

    .aboutImage {
        float: left;
        margin: 0 0 1rem 1rem;
        width: 80px; 
        max-width: 100px;
    }
        

}