.mainContainer{
    padding-bottom: 2rem;
}

.bookingContainer{
    position: absolute;   
    left: 14%;
    border-radius: 0 0 5rem 1rem;
    width: 45%;
    height: max-content;
    background-color: #fffcf2;
    padding: 4rem 4rem 1rem 4rem;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.heroSection{
    height: 87vh;
}

.bookingContainer h1{
    font-size: clamp(1.5rem, 2vw, 3rem);
    color: #ad9551;
    font-weight: 600;
}

.bookingContainer p{
    font-size: clamp(.7rem, 1vw, 2rem);
}

.bookingContainer > :first-child{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.imageSliderContainer{
    border-radius: 0 0 0 5rem;
    contain: content;
    height: 85dvh;
    margin-left: 2rem;
    position: absolute;
}


.imageSliderContainer img{
    width: 100%;
    height: 100%;
    border-radius: 0 0 0 5rem;
}

.searchContainer{
    border: 2px solid #ad9551;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4rem;
    border-radius: 1rem;
    margin-top: -1rem;
}

.searchContainer div p{
    font-size: 1.3rem;
}

.bookingBttn{
    height: 100%;
    width: 20%;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    background-color: #ad9551;
    color: white;
    font-size: 1.5rem;
}

.bookingBttn:hover{
    background-color: #d9d9d9;  
    color: #ad9551;
    transition: 0.2s ease-in-out;
}

.imageSliderImage{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    transition: translate 1s ease-in-out;
}

.roomsPriceContainer{
    background-color: #ab9d78;
    border-radius: 50%;
    width: 10%;
    height: 15%;
    position: absolute;
    bottom: 7rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
}

@media(600px <= width <= 1030px){
    .searchContainer{
        display: flex;
        row-gap: 1rem;
        flex-wrap: wrap;
    }
    .searchContainer div{
        flex-wrap: wrap;
    }
    .searchContainer div p{
        font-size: .9rem;
    }

    .bookingBttn{
        font-size: .9rem;
        height: 2.5rem;
        width: 50%;
    }
}

@media(300px <= width <= 600px) {

    .heroSection{
        height: 70vh;
    }

    .imageSliderContainer{
        height: 50dvh;
        width: 100%;
        margin-left: 0;
    }

    .bookingContainer{
        left: 14%;
        border-radius: 0 0 5rem 1rem;
        width: 75%;
        height: max-content;
        background-color: #fffcf2;
        position: relative
    }

    .bookingContainer h1{
        color: #ad9551;
        font-weight: 600;
        margin-top: -3.5rem;
    }

    .bookingContainer > :first-child{
        display: flex;
        flex-direction: column;
        row-gap: .5rem;
    }

    .bookingContainer > :first-child p{
        font-size: 1rem;
    }

    .searchContainer{
        border: 2px solid #ad9551;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30%;
        width: 110%;
        padding: .4rem;
        border-radius: 1rem;
        font-size: .7rem;
        margin-top: -3rem;
        margin-left: -4rem;
        position: absolute;
        top: 24rem;
        background-color: #fffcf2;

    }

    .searchContainer div p{
        font-size: .7rem ;
    }

    .bookingBttn{
        font-size: 1rem;
        height: 100%;
    }

    .roomsPriceContainer{
       display: none;
    }

}

.welcomeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 2rem 0;
    padding: 2rem;
    border-top: 1px solid #ad9551;
    border-bottom: 1px solid #ad9551;
}

.welcomeContainer h1{
    font-size: 4rem;
    color: #ad9551;
    font-weight: 600;
}

.welcomeContainer p{
    font-size: 1.2rem;
    color: #ad9551;
    font-weight: 400;
    width: 60%;
    display: flex;
    text-align: center;
    margin-top: 1rem;
}

.dateRange{
    position: absolute;
    bottom: -14rem;
}

.dateRangeClose{
    background-color: #ad9551;
    border-radius: 5rem;
    border: none;
    cursor: pointer;
    display: none;
}

.addressContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    /* border: 2px solid red; */
}

.addressWrapper p{
    font-size: 1rem;
    color: #ad9551;
    display: flex;
    width: max-content;
}

.subLinksWrapper{
    display: flex;
    width: max-content;
    margin-right: 1rem;
}

.subLinksWrapper ul li a{
    text-decoration: none;
    color: #ad9551;
}

.subLinksWrapper ul{
    display: flex;
}

.subLinksWrapper ul li {
    list-style: none;
    padding: 1rem;
    font-size: 1rem;
    color: #ad9551;
    border-bottom: 2px solid #ad9551;
    display: inline-block; /* needed to make border fit the text width */
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.overviewDropdown{
    display: none;
}

.overviewDropdown h2{
    display: flex;
    column-gap: .5rem;
    font-size: 1rem;
    color: #ad9551;
}

.overDropClose {
  display: none;
}

.overDropOpen {
  display: block;
  background-color: #ad9551;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 0.5rem;
}

.overDropOpen ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.overDropOpen li {
  padding: 0.5rem 0;
  cursor: pointer;
  color: white;
}




.offerContainer{
    display: flex;
    align-items: center;
    height: 5rem;
    margin: auto;
    flex-wrap: wrap;
    row-gap: 2rem;
    border-bottom: 1px solid #ad9551;
}

.offerContainer div{
    display: flex;
    width: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    column-gap: 1rem;
    margin: auto;
    font-size: .7rem;
}

.offerContainer div p{
    color: #ad9551;
    display: flex;
    text-align: center;
}

.icons{
    width: 2rem;
}

.closeOfferContainer{
    height: max-content;
    position: relative;
}


.closeOfferContainerHeadderWrapper{
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    column-gap: 4rem;
    margin-bottom: .5rem;
    position: relative;
    font-size: .7rem;
}

.closerofferBodyWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    display: none;
    animation: slideIn 0.5s ease-in-out;
}

.closerofferBodyWrapperOpen {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 1rem;
    animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.closerofferBodyWrapper div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
    border: .7px solid #ad9551;
}

.displayButton{
    position: absolute;
    left: 17rem;
    background-color: #ad9551;
    border-radius: 5rem;
    border: none;
    cursor: pointer;
    display: none;
}

@media(300px <= width <= 600px) {
    .addressContainer{
        display: flex;
        justify-content: space-around;
        margin-top: -4rem;
    }

    .addressWrapper p{
        font-size: .8rem;
    }

    .subLinksWrapper ul {
        display: none;
    }   

    .overviewDropdown{
        display: block;
    }

    .welcomeContainer p{
        font-size: 1rem;
        width: 100%;
    }
}

@media(300px <= width <= 650px){
    .offerContainer{
        display: none;
    }

    .closeOfferContainerHeadderWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        column-gap: 4rem;
        margin-bottom: .5rem;
        position: relative;
    }

    .displayButton{
        height: 2rem;
        width: 2rem;
        border-radius: 5rem;
        border: none;
        cursor: pointer;
        display: block;
        top: -1rem;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media(600px <= width <= 695px){
    .subLinksWrapper ul li{
        font-size: .9rem;
    }

    .addressContainer{
        display: flex;
        flex-direction: column;
    }

    .addressWrapper p{
        font-size: .8rem;
    }
}

.galleryContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    grid-auto-rows: 200px; /* Default row height */
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
  
.imageWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 2px solid #ad9551;
}
  
.imageWrapper img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}
  
/* Span settings */
.imageOne {
    grid-column: span 2; /* Take 2 columns */
    grid-row: span 2;    /* Take 2 rows */
}

.imageTwo {
    grid-column: span 2; /* Take 2 columns */
    grid-row: span 3;    /* Take 1 row */
}

.imageThree {
    grid-column: span 2; /* Take 2 columns */
    grid-row: span 2;    /* Take 2 rows */
}

.imageFour {
    grid-column: span 1; /* Take 2 columns */
    grid-row: span 3;    /* Take 2 rows */
}

.imageFive {
    grid-column: span 1; /* Take 2 columns */
    grid-row: span 2;    /* Take 2 rows */
}

.imageSix {
    grid-column: span 1; /* Take 2 columns */
    grid-row: span 3;    /* Take 2 rows */
}

.imageSeven {
    grid-column: span 1; /* Take 2 columns */
    grid-row: span 2;    /* Take 2 rows */
}

.imageEight {
    grid-column: span 1; /* Take 2 columns */
    grid-row: span 1;    /* Take 2 rows */
}

.imageNine {
    grid-column: span 1; /* Take 2 columns */
    grid-row: span 1;    /* Take 2 rows */
}

.imageTen {
    grid-column: span 1; /* Take 2 columns */
    grid-row: span 3;    /* Take 2 rows */
}

.imageEleven {
    grid-column: span 1; /* Take 2 columns */
    grid-row: span 3;    /* Take 2 rows */
}

.imageTwelve {
    grid-column: span 2; /* Take 2 columns */
    grid-row: span 2;    /* Take 2 rows */
}
  
@media(300px <= width <= 900px) {
    .galleryContainer {
        grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
        grid-auto-rows: 200px; /* Default row height */
        gap: 1rem;
        padding: 1rem;
        flex-wrap: wrap;
    }

    .imageOne {
        grid-column: span 1; /* Take 2 columns */
        grid-row: span 1;    /* Take 2 rows */
    }

    .imageTwo {
        grid-column: span 1; /* Take 2 columns */
        grid-row: span 1;    /* Take 1 row */
    }

    .imageThree {
        grid-column: span 1; /* Take 2 columns */
        grid-row: span 1;    /* Take 2 rows */
    }

    .imageFour {
        grid-column: span 1; /* Take 2 columns */
        grid-row: span 1;    /* Take 2 rows */
    }

    .imageFive {
        grid-column: span 1; /* Take 2 columns */
        grid-row: span 1;    /* Take 2 rows */
    }

    .imageSix {
        grid-column: span 1; /* Take 2 columns */
        grid-row: span 1;    /* Take 2 rows */
    }

    .imageSeven {
        grid-column: span 1; /* Take 2 columns */
        grid-row: span 1;    /* Take 2 rows */
    }

    .imageEight {
        grid-column: span 1; /* Take 2 columns */
        grid-row: span 1;    /* Take 2 rows */
    }

    .imageNine {
        grid-column: span 1; /* Take 2 columns */
        grid-row: span 1;    /* Take 2 rows */
    }

    .imageTen {
        grid-column: span 1; /* Take 2 columns */
        grid-row: span 1;    /* Take 2 rows */
    }

    .imageEleven {
        grid-column: span 1; /* Take 2 columns */
        grid-row: span 1;    /* Take 2 rows */
    }

    .imageTwelve {
        grid-column: span 1; /* Take 2 columns */
        grid-row: span 1;    /* Take 2 rows */
    }
}

.galleryLinkButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.galleryLinkButton{
    width: 7rem;
    height: 3rem;
    border-radius: 5rem;
    border: none;
    cursor: pointer;
    background-color: #ad9551;
    color: white;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.overViewSection{
    text-align: center;
    width: 70%;
    margin: auto;
    line-height: 1.5;
    font-size: 1.2rem;
}

.overViewSectionHeader{
    font-size: clamp(1.5rem, 1vw, 2rem);
    color: #ad9551;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.overViewSectionBody{
    font-size: clamp(1rem, 1vw, 1.5rem);
}

.overViewSectionHeader hr{
    width: 10%;
    height: 2px;
    background-color: #ad9551;
    border: none;
    margin: auto;
}

.overViewSectionHeader p{
    margin-top: 1rem;
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: #ad9551;
}

.faqContainer{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faqContainer h2{
    font-size: 2rem;
    color: #ad9551;
    font-weight: 600;
    margin-top: 2rem;
}

.faqBodyContainer div{
    display: flex;
}

.questionsContainer{
    display: flex;
}

.questionsContainer div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.questionsContainer div p{
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    column-gap: 1rem;
}

.questionsContainer div > :first-child {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    background-color: #d9d9d9;
    border-radius: .2rem;
    color: #ad9551;
    transition: 0.5s ease-in-out;
    font-size: clamp(.7rem, 1vw, 2rem);
    padding: .5rem;

}

.questionsContainer div > :first-child:hover{
    background-color: #ad9551;
    color: white;
    border-radius: 1rem;
}

.faqClose {
    padding: 0 .5rem;
    border-radius: .5rem;
    visibility: hidden;
    transition: max-height 0.5s ease-in-out, padding 0.3s;
}

.faqOpen {
    padding: .5rem;
    border-radius: .5rem;
    transition: max-height 1s ease-in-out, padding 0.3s;
    animation: slideIn 0.5s ease normal forwards;
    border: 1px solid #ad9551;
    width: 50%;
        background-color: #d9d9d9;

}

.faqOpenTwo{
    padding: .5rem;
    border-radius: .5rem;
    animation: slideIn 0.5s ease normal forwards;
    border: 1px solid #ad9551;
    width: 50%;
    background-color: #d9d9d9;
}

.faqCloseTwo{
    padding: 0 .5rem;
    border-radius: .5rem;
    visibility: hidden;
    transition: max-height 0.5s ease-in-out, padding 0.3s;

    
}

@keyframes slideIn {
    0% {
        transform: translateY(-30%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.faqBodyContainer > :nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    font-size: 1.2rem;
    margin-top: 3rem;
}

.sendMsgBttn{
    width: 10rem;
    height: 3rem;
    border-radius: 5rem;
    border: none;
    cursor: pointer;
    background-color: #ad9551;
    color: white;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.sendMsgBttn:hover{
    background-color: #d9d9d9;
    color: #ad9551;
    transition: 0.2s ease-in-out;
}

.faqBodyContainer > :last-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    background-color: #d9d9d9;
}

.whyBookWithUsContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5rem 0;
}

.whyBookWithUsContainer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(.5rem, 1vw, 3rem);
    width: 20%;
    background-color: #ad9551;
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
}

.whyBookWithUsContainer div h3{
    margin-bottom: 1rem;
    font-size: clamp(.6rem, 1vw, 2rem);
    color: #d9d9d9;
}




@media(300px <= width <= 600px) {
    .faqContainer{
        margin-top: 0;
    }

    /* .faqBodyContainer > :nth-child(2){
        display: none;
    } */

    .questionsContainer div{
        width: 100%;
        padding: 0;
    }

    .questionsContainer div p{
        font-size: 1rem;
        margin-top: 0;
    }
}

